<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735725720408-3recjdcgbjin1u21j86po5brdgq3u8ce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735725720408-3recjdcgbjin1u21j86po5brdgq3u8ce</string>
	<key>API_KEY</key>
	<string>AIzaSyAUE3T1t_CY26DAhxVm3H7zBB4LKZPl7Ns</string>
	<key>GCM_SENDER_ID</key>
	<string>735725720408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tituslearning.elemobile</string>
	<key>PROJECT_ID</key>
	<string>ele-mobile-5553f</string>
	<key>STORAGE_BUCKET</key>
	<string>ele-mobile-5553f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735725720408:ios:34f0ed5ec4e1cd88fa4b2d</string>
	<key>DATABASE_URL</key>
	<string>https://ele-mobile-5553f.firebaseio.com</string>
</dict>
</plist>